# Copy this file to /lib/systemd/system/ folder
[Unit]
Description=mygoweb

[Service]
Type=simple
User=root

Restart=on-failure
RestartSec=10

# Edit /root/project/ to your project directory
WorkingDirectory=/root/project/mygoweb
ExecStart=/root/project/mygoweb/bin/mygoweb

[Install]
WantedBy=multi-user.target