<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">Tommy Nurwantoro</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#theNavbar" aria-controls="theNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="theNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blogs">Blog</a>
            </li>
        </ul>
    </div>
</nav>